<div class="container mt-3">
  <div class="row row-cols-3 ">
    {{#each productos}}
    <div id='{{this}}' class="col" onclick='productoClick(this.id)'>
      {{>Producto this}}
    </div>
    {{/each}}
  </div>
</div>