<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <div id="modalContent" class="row row-cols-6">
          
        </div>
      </div>

    </div>
  </div>
</div>