<nav class="navbar navbar-dark bg-success">
  <div class="container d-flex justify-content-center">
    <a id='cart' class="navbar-brand" href="#" onclick="updateModal()">
      <img src="/src/img/cart-svgrepo-com.svg" alt="shopping-cart" width="30" height="30" data-bs-toggle="modal" data-bs-target="#cartModal">
    </a>
  </div>
</nav>