      <div class="d-flex justify-content-center">
        {{this}}
      </div>
      <div class="d-flex justify-content-center">
        <img src="/src/img/{{this}}.png" alt="" width="100" height="100">
      </div>